$primary: #f1c40f;
$secondary: #ecf0f1;
$background: #2c3e50;

#content1{
    .progressbar{
        margin-top: 75px;
        padding: 0;
        li{
            list-style-type: none;
            float: left;
            width: 33.33%;
            position: relative;
            text-align: center;
            letter-spacing: 2px;
            &::before{
                content: "";
                counter-increment: step;
                width: 25px;
                height: 25px;
                line-height: 50px;
                border: 3px solid $secondary;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: $background;
                letter-spacing: 0px;
            }
            &::after{
                content: "";
                width: 100%;
                height: 3px;
                background-color: $secondary;
                top: 25px;
                left: -50%;
                z-index: 1;
            }
            &:first-child::after{
                content:none;
            }
            &.active{
                color: $primary;
                &::before{
                    border-color: $primary;
                }
            }
            &.active + li::after{
                background-color: $primary;
            }
        }
    }
}


// test

body {
    margin: 0;
    background-color: #3b3b3b;
    font-family: "Roboto", sans-serif;
 }
 
 * {
    outline: none;
 }
 
 //Colors
 $white-20: rgba(255, 255, 255, 0.2);
 $white-60: rgba(255, 255, 255, 0.6);
 $white: rgba(255, 255, 255, 1);
 $main-color: #b38c52;

 
 .link{
   position:absolute;
   left:0;
   bottom:0;
   padding:20px;
   z-index:9999;
   a{
       display:flex;
       align-items:center;
       text-decoration:none;
       color:#fff;
   }
   .fa{
     font-size:28px;
     margin-right:8px;
     color:#fff;
   }
 }